.header-logo {
  padding-left: 0;
}

@media only screen and (max-width: 767px) {
  header {
    padding: 1rem 0 0;
    position: static !important;
  }
  header .header-logo {
    width: initial;
    max-width: 69vw;
    padding-right: 7vw;
  }
  header .header-logo img {
    max-width: 100%;
  }
  header .ec-headerNavi li {
    flex: 0 1 33.3%;
    margin: 0;
  }
  header .ec-headerNavi li:not(:first-child) {
    border-left: 1px solid #fff;
  }
  header .ec-headerNavi img {
    display: none;
  }
  header .ec-headerNavi span {
    border: none;
  }
  header .ec-headerNavi a {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    border: none;
    background-color: #ddd;
    text-align: center;
    font-size: 2vw;
  }
  .work-slide-wrap {
    margin-top: 0;
  }
  .best-seller ul li {
    width: initial;
    flex: 0 1 49%;
  }
  .best-seller ul li:nth-child(even) {
    margin-left: 2%;
  }
  .best-seller dd {
    text-align: left !important;
  }
  #page_homepage h2 + ul {
    margin-top: -2rem;
  }
  #page_homepage .about dd {
    text-align: left;
    font-size: 4vw;
  }
  #page_homepage .about dd br {
    display: none;
  }
  #page_homepage .about dd h3 {
    font-size: 5vw;
  }
  #page_homepage .about dd .font-l.block.mb1 {
    margin-bottom: 1.5rem;
    text-align: center;
    display: block;
  }
  #page_homepage .pick-up dd {
    font-size: 4vw;
    text-align: left;
  }
  #page_homepage .pick-up dd .font-l.block {
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    font-weight: bold;
  }
  #page_homepage .pick-up dd img {
    display: block;
    margin: 0 auto 20px;
  }
  #page_homepage .pick-up dd br {
    display: none;
  }
  #page_homepage #ownedmediabanner a img {
    max-width: 100%;
  }
  #lp_centonze .ec-header li {
    padding: 0 !important;
  }
  #lp_centonze .b-content__list {
    display: block;
    padding: 0 5%;
    box-sizing: border-box;
  }
  #lp_centonze .b-content__list li {
    width: initial !important;
  }
  #lp_centonze .b-content__list li img {
    width: 100%;
  }
  #lp_centonze .b-content__list li + li {
    margin-top: 5%;
  }
  #lp_centonze p img {
    max-width: 100%;
  }
  #lp_centonze .centonzebtn a {
    padding: 0 5%;
    box-sizing: border-box;
  }
  #lp_centonze .centonzebtn a img {
    width: initial;
  }
}

@media only screen and (min-width: 768px) {
  header .header-logo {
    width: initial;
    margin-left: 0;
  }
  #lp_centonze p img {
    width: 100%;
  }
  #lp_centonze .b-content__list a {
    max-width: 300px !important;
    margin: 20px auto 0;
  }
  #lp_centonze .centonzebtn a {
    max-width: 300px;
    margin: 0 auto;
  }
}

.inner a img {
  max-width: 100%;
}
