@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v3.0 | 20180413
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  font-size: 62.5%;
  font-family: -apple-system, "Lucida Grande", "Helvetica Neue", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "メイリオ", "游ゴシック", meiryo, sans-serif;
  color: #1b1b1b;
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

body.overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

body img {
  max-width: 100%;
  height: auto;
}

body img[src$=".svg"] {
  width: 100%;
  height: auto;
}

body .align-center {
  text-align: center;
}

body .flex, body .l-flex {
  display: flex;
}

body .inline-block {
  display: inline-block;
}

body .layout-center {
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
     line-height: 1.8;
  }
  body .l-flex--md {
    display: flex;
  }
  body .md-none {
    display: none;
  }
}

@media only screen and (min-width: 1101px) {
  body .inner-layout, body .l-contentInner {
    width: 98%;
    max-width: 1380px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  body .inner-layout, body .l-contentInner {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  body .inner-layout, body .l-contentInner {
    width: 1000px;
    min-width: 1000px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 100%;
    font-size: 13px;
  }
  body .xs-none {
    display: none;
  }
  body .inner-layout, body .l-contentInner {
    width: 100%;
    min-width: initial;
    box-sizing: border-box;
  }
}

.list--disc li {
  list-style: disc;
}

.header--catch {
  background: url("/html/lp/images/bg_catch.jpg") no-repeat center center;
  background-size: cover;
}

.header--catch .l-contentInner {
  position: relative;
  min-height: 700px;
}

.header--catch .title--page {
  padding-top: 80px;
}

.header--catch .text--howtoJoin {
  position: absolute;
  bottom: -60px;
  max-width: 55vw;
}

.header--catch .text--brand {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px 2rem;
  line-height: 1;
}

.wrap--introduction {
  background: linear-gradient(0deg, #f0f0f0 0%, #fffcfb 100%);
  padding: 6% 0;
}

.wrap--introduction .l-contentInner::before, .wrap--introduction .l-contentInner::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background: url("/html/lp/images/border-introduction.png") no-repeat center center;
}

.wrap--introduction .l-contentInner::before {
  margin-bottom: 3%;
}

.wrap--introduction .l-contentInner::after {
  margin-top: 3%;
}

.wrap--introduction .l-contentInner .b-wrap__text {
  font-family: "a-otf-ryumin-pr6n", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  font-size: 2rem;
  color: #5d4a00;
  line-height: 2.3;
}

.wrap--introduction .l-contentInner .b-wrap__text + p {
  margin-top: 3rem;
}

.wrap--introduction .l-contentInner .b-wrap__text__strong {
  font-weight: bold;
  font-size: 2.4rem;
}

@media only screen and (min-width: 768px) {
  .wrap--introduction .l-contentInner .b-wrap__text {
    text-align: center;
  }
}

.wrap--campaignDetail {
  padding: 3% 0 7%;
}

.wrap--campaignDetail .b-block__figure {
  position: relative;
}

.wrap--campaignDetail .b-block__figure__image.image--point {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  right: -30px;
  max-width: 15vw;
}

.wrap--campaignDetail .b-block.block--40over {
  border: 1px solid #183036;
  margin-top: 6%;
}

.wrap--campaignDetail .b-block.block--40over .b-block__title {
  font-size: 3.2rem;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__title > div {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__title__icon {
  margin-top: 19px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text {
  margin-bottom: -46px;
  margin-top: 20px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text.text--answer {
  font-size: 3.6rem;
  justify-content: center;
  align-items: center;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text .b-block__text--text {
  color: #fff;
  font-family: "a-otf-ryumin-pr6n", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  background-color: #183036;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  position: relative;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text .b-block__text--text::before, .wrap--campaignDetail .b-block.block--40over .b-block__text .b-block__text--text::after {
  content: "";
  display: block;
  width: 65px;
  height: 65px;
  transform: rotate(45deg);
  background-color: #183036;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text .b-block__text--text::before {
  margin-left: -45px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text .b-block__text--text::after {
  margin-right: -45px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text .b-block__text--icon {
  flex: 0 1 60px;
  margin-top: 10px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text .b-block__text--icon.icon--01 {
  margin-right: 20px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__text .b-block__text--icon.icon--02 {
  margin-left: 20px;
}

.wrap--campaignDetail .b-block.block--40over .b-block__figureWrap {
  padding: 0 3% 1%;
}

.wrap--campaignDetail .b-block.block--40over .b-block__figure__figcaption {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 5px;
}

.wrap--campaignDetail .b-box__title {
  font-size: 3.2rem;
  font-family: "a-otf-ryumin-pr6n", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  color: #183036;
}

.wrap--campaignDetail .b-box__text.text--present {
  color: #fff;
  background-color: #183036;
  position: relative;
  box-sizing: border-box;
  padding: 10px 3rem;
  font-size: 2.4rem;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 60px;
}

.wrap--campaignDetail .b-box__text.text--present .b-box__icon {
  position: absolute;
  top: 50%;
  right: 0;
  max-width: 200px;
  transform: translateY(-40%);
}

.wrap--campaignDetail .b-box__text.text--coupon {
  color: #ff3399;
  font-size: 2.8rem;
  padding-left: 2rem;
  font-weight: bold;
  margin-top: 40px;
  position: relative;
}

.wrap--campaignDetail .b-box__text.text--coupon .b-box__icon {
  position: relative;
  display: block;
  margin-top: -90px;
  margin-left: 1rem;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .wrap--campaignDetail .block--campaignDetail .b-block__figure {
    flex: 0 1 45%;
    max-width: 45%;
    margin-right: 3%;
    order: -1;
  }
  .wrap--campaignDetail .b-box {
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wrap--campaignDetail .block--40over .b-block__figure + figure {
    margin-left: 2%;
  }
}

.wrap--product {
  background-color: #f2f2f2;
  padding-top: 3%;
  padding-bottom: 4%;
}

.wrap--product .b-wrap__title {
  font-size: 3.2rem;
  font-family: "a-otf-ryumin-pr6n", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  justify-content: center;
  font-weight: bold;
  border-radius: 30px;
  margin-top: -60px;
  margin-bottom: 20px;
}

.wrap--product .b-wrap__title__strong {
  position: relative;
  padding: 0 20px;
}

.wrap--product .b-wrap__title__strong::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: 1;
}

.wrap--product .b-wrap__title__strong span {
  position: relative;
  z-index: 2;
}

.wrap--product .b-body {
  background-color: #fff;
  border: 1px solid #393939;
  padding: 30px 40px;
}

.wrap--product .b-block.block--product .b-block__title {
  font-family: "a-otf-ryumin-pr6n", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  color: #183036;
}

.wrap--product .b-block.block--product .b-block__text.text--catchCopy {
  font-size: 3rem;
  position: relative;
  color: #183036;
  margin-bottom: 20px;
}

.wrap--product .b-block.block--product .b-block__text.text--catchCopy::before, .wrap--product .b-block.block--product .b-block__text.text--catchCopy::after {
  content: "";
  width: 40%;
  height: 3px;
  display: block;
  background: url("/html/LP/images/bg_line_title.png") repeat-x;
}

.wrap--product .b-block.block--product .b-block__text.text--catchCopy::before {
  margin-bottom: 15px;
}

.wrap--product .b-block.block--product .b-block__text.text--catchCopy::after {
  margin-top: 15px;
}

.wrap--product .b-block.block--product .b-box__text {
  line-height: 1.9;
  margin-left: 5px;
}

.wrap--product .b-block.block--product .b-box__text + .b-box__text {
  margin-top: 2rem;
}

.wrap--product .b-block.block--feature {
  margin-top: 5%;
}

.wrap--product .b-block.block--feature .b-block__title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3%;
  padding: 10px 0;
  border-top: 1px solid #183036;
  border-bottom: 1px solid #183036;
}

.wrap--product .b-block.block--feature .b-figureWrap .b-figure {
  width: 22.5%;
}

.wrap--product .b-block.block--feature .b-figureWrap .b-figure + .b-figure {
  margin-left: 3%;
}

.wrap--product .b-block.block--feature .b-figureWrap .b-figure__figcaption {
  margin-top: 10px;
  text-align: center;
}

.wrap--product .b-block.block--feature .b-figureWrap .b-figure__figcaption__strong {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
}

.wrap--product .b-block.block--andMore {
  margin-top: 3%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
}

.wrap--product .b-block.block--andMore .b-box {
  flex: 1;
  padding: 3%;
}

.wrap--product .b-block.block--andMore .b-box__title {
  color: #183036;
  font-size: 2.4rem;
  padding-left: 20px;
  border-left: 2px solid #183036;
  margin-bottom: 30px;
}

.wrap--product .b-block.block--andMore .b-box__text {
  font-size: 3rem;
  text-align: right;
  font-family: "a-otf-ryumin-pr6n", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

@media only screen and (min-width: 768px) {
  .wrap--product .b-block {
    padding-left: 3%;
  }
  .wrap--product .b-block .b-block__title {
    font-size: 5rem;
    margin-bottom: 20px;
  }
  .wrap--product .b-block .b-block__figure {
    float: right;
    max-width: 40%;
  }
}

.wrap--campaign {
  padding-top: 4%;
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 6px, #fff5fa 6px, #fff5fa 12px);
}

.wrap--campaign .block--campaignHeader {
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #f8c5df;
}

.wrap--campaign .block--campaignHeader .b-block__title {
  color: #ff1c89;
  font-size: 6rem;
  font-family: "a-otf-ryumin-pr6n", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  justify-content: center;
}

.wrap--campaign .block--campaignHeader .b-block__title__strong {
  position: relative;
  margin-top: -60px;
}

.wrap--campaign .block--campaignHeader .b-block__title__strong::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 120%;
  height: 60px;
  position: absolute;
  bottom: 0%;
  left: -10%;
  right: 0;
  z-index: 1;
}

.wrap--campaign .block--campaignHeader .b-block__title__strong span {
  position: relative;
  z-index: 2;
}

.wrap--campaign .block--campaignHeader .b-cardWrap {
  padding: 1% 3% 3%;
  justify-content: center;
}

.wrap--campaign .block--campaignHeader .b-card {
  border-radius: 10px;
  padding: 40px 5vw 20px;
}

.wrap--campaign .block--campaignHeader .b-card.card--sns {
  background-color: #183036;
}

.wrap--campaign .block--campaignHeader .b-card.card--coupon {
  background-color: #fae2ee;
  margin-left: 3%;
}

.wrap--campaign .block--twitter, .wrap--campaign .block--instagram {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 3%;
  padding: 5%;
}

.wrap--campaign .block--twitter .b-block__title, .wrap--campaign .block--instagram .b-block__title {
  align-items: center;
  margin-bottom: 20px;
}

.wrap--campaign .block--twitter .b-block__title__icon, .wrap--campaign .block--instagram .b-block__title__icon {
  flex: 0 1 60px;
  margin-right: 20px;
  margin-top: 8px;
}

.wrap--campaign .block--twitter .b-block__title__strong, .wrap--campaign .block--instagram .b-block__title__strong {
  font-size: 4rem;
}

.wrap--campaign .block--twitter .b-cardWrap, .wrap--campaign .block--instagram .b-cardWrap {
  flex-wrap: wrap;
}

.wrap--campaign .block--twitter .b-card__figure, .wrap--campaign .block--instagram .b-card__figure {
  flex: 0 1 20%;
}

.wrap--campaign .block--twitter .b-card .b-box, .wrap--campaign .block--instagram .b-card .b-box {
  flex: 1;
  padding-right: 5%;
  box-sizing: border-box;
}

.wrap--campaign .block--twitter .b-card .b-box__title, .wrap--campaign .block--instagram .b-card .b-box__title {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.wrap--campaign .block--twitter .b-card .b-box__figure, .wrap--campaign .block--instagram .b-card .b-box__figure {
  max-width: 150px;
  margin-top: 30px;
}

.wrap--campaign .block--twitter .b-block__list.list--notice, .wrap--campaign .block--instagram .b-block__list.list--notice {
  background-color: #fdeeee;
  padding: 20px 10px 20px 50px;
  border-radius: 10px;
  margin-top: 3%;
}

.wrap--campaign .block--twitter .b-card.card--01 .b-box__text, .wrap--campaign .block--twitter .b-card.card--02 .b-box__text, .wrap--campaign .block--twitter .b-card.card--03 .b-box__text {
  font-size: 2.4rem;
}

.wrap--campaign .block--twitter .b-card.card--04 .b-box__text {
  font-size: 1.8rem;
}

.wrap--campaign .block--twitter .b-card.card--04 .b-box__text__strong {
  font-weight: bold;
  display: block;
  font-size: 2.4rem;
  margin-top: 10px;
  color: #ff1c89;
}

.wrap--campaign .block--twitter .b-card.card--04 .b-box__figure {
  max-width: 85%;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .wrap--campaign .block--twitter .b-card {
    flex: 0 1 47%;
  }
  .wrap--campaign .block--twitter .b-card:nth-child(odd) {
    margin-right: 6%;
  }
  .wrap--campaign .block--twitter .b-card:nth-child(n+3) {
    margin-top: 3%;
  }
}
